<%= form_for(@pin) do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>
      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>  
<form role="form">
  <div class="form-group">
    <label for="description">
      <%= f.label :description %>
    </label>
 
 <% if @pin.errors.any? %>
    <div id="error_explanation">
      <span class="glyphicon glyphicon-asterisk"></span> <%= description_error %>
    <div>
 <% end %>

  <div class="form-group">
 <%= f.text_field :description %>
 
  <div class="form-group">
    <%= f.submit %>
  </div>
</form>
<br>
<% end %>