<div class="jumbotron">
<h1>Welcome to Pinterest for Kittens</h1>
<br>
<h2>Listing pins</h2><br>

<div class="table-responsive">
  <table class= "table table-hover table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Time Added</th>
        <th>User</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @pins.each do |pin| %>
        <tr>
          <th><%= pin.description %></th>
          <td><%= time_ago_in_words pin.created_at %></td>
          <td><%= pin.user.try( :email ) %></td><% if current_user == pin.user %>
          <td><%= link_to 'Show', pin %></td>
          <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
          <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <td></td><td></td><td></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>
</div>

  <br>
  <% if user_signed_in? %>
    <%= link_to 'New Pin', new_pin_path %>
  <% end %>

  <br><br>
  
  <% if !user_signed_in? %>
    <p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-info btn-lg" %>
    </p>
  <% end %>
</div>